<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    <div class="page__wrapper">
        %=symbols=%
        {{> header/header}}

        <main class="main">
            <div class="alert alert-primary alert-top" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="static/images/content/error.svg" alt="image description">
                            <span>You are currently in the Your Bourse Demo.</span>
                            <div class="btn-box"><a href="#" class="btn btn-primary">SET UP ON THE FREE PLAN</a> <span>or</span> <a
                                href="#" class="btn btn-primary">contact us</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Dashboard</h1>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="dashboard">
                                    <div>
                                        <table class="table table-borderless main-table">
                                            <thead>
                                            <tr class="title-row main-title">
                                                <th colspan="3">FXCM</th>
                                                <th class="logo">
                                                    <img src="static/images/content/table-logo.png" alt="FXCM">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>15min</th>
                                                <th>24h</th>
                                                <th>30d</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>Rejection rate</th>
                                                <td>7.5%</td>
                                                <td>5.6%</td>
                                                <td>2.4%</td>
                                            </tr>
                                            <tr>
                                                <th>Prices/sec</th>
                                                <td>12</td>
                                                <td>54</td>
                                                <td>22</td>
                                            </tr>
                                            <tr>
                                                <th>Trades</th>
                                                <td>1.45M</td>
                                                <td>32M</td>
                                                <td>32M</td>
                                            </tr>
                                            <tr>
                                                <th>Volume (USD)</th>
                                                <td>1.45M</td>
                                                <td>32M</td>
                                                <td>32M</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-borderless">
                                            <thead>
                                            <tr class="title-row title">
                                                <th colspan="3">Margin</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>Equity (USD)</th>
                                                <td>5.2M</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>Margin utilisation</th>
                                                <td>32%</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-borderless">
                                            <thead>
                                            <tr class="title-row title">
                                                <th colspan="3">
                                                    Exposure (USD)
                                                    <ul class="link-tabs">
                                                        <li class="active"><a href="#">currency</a></li>
                                                        <li><a href="#">symbol</a></li>
                                                    </ul>
                                                </th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>EURUSD</th>
                                                <td>1.45M</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>EURGBP</th>
                                                <td>1.45M</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>EUR</th>
                                                <td>1.45M</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>CHF</th>
                                                <td>1.45M</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th>JPY</th>
                                                <td>1.45M</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-borderless">
                                            <thead>
                                            <tr class="title-row main-title">
                                                <th colspan="3">PnL (USD)</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>Today</th>
                                                <th>WDT</th>
                                                <th>MDT</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>Realised</th>
                                                <td>1.45M</td>
                                                <td>32M</td>
                                                <td>32M</td>
                                            </tr>
                                            <tr>
                                                <th>Floating</th>
                                                <td>1.45M</td>
                                                <td>32M</td>
                                                <td>32M</td>
                                            </tr>
                                            <tr class="total">
                                                <th>Total</th>
                                                <td>1.45M</td>
                                                <td>32M</td>
                                                <td>32M</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="report-box">
                                        <a href="#">LP Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    {{!
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery%=min=%.js"></script>
    }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery%=min=%.js"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>
