<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> head/head head.defaults}}
</head>

<body>
    <div class="page__wrapper">
        %=symbols=%
        {{> header/header}}

        <main class="main">
            <div class="alert alert-primary alert-top" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="static/images/content/error.svg" alt="image description">
                            <span>You are currently in the Your Bourse Demo.</span>
                            <div class="btn-box"><a href="#" class="btn btn-primary">SET UP ON THE FREE PLAN</a> <span>or</span> <a
                                href="#" class="btn btn-primary">contact us</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#emailModal">
                            Verify your email address
                        </button>
                        <div class="clearfix mt-4"></div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#organisationModal">
                            Create new organisation
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="emailModalLabel">Verify your email address</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Welcome! We just sent a verification link to <a href="mailto:sdfkjlg@kejfg.bf">sdfkjlg@kejfg.bf</a>. Please check your inbox and click on the link to get started. If you can't find this email (which could be due to spam filters), just request a new one here.</p>
                                        <p class="text-center">
                                            <a href="#" class="btn btn-outline-primary btn-lg">Resend email</a>
                                        </p>
                                    </div>
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="organisationModal" tabindex="-1" role="dialog" aria-labelledby="organisationModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="organisationModalLabel">Create new organisation</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Your organisation is your company account. You'll be able to invite team members to join.</p>
                                        <form action="#" class="name-organisation-form">
                                            <div class="form-group">
                                                <label for="input-01">Name of your organisation</label>
                                                <input class="form-control form-control-lg" type="text" placeholder="Name of your organisation" id="input-01">
                                            </div>
                                            <div class="text-right">
                                                <button class="btn btn-outline-dark btn-lg" data-dismiss="modal" aria-label="Close">CANCEL</button>
                                                <input type="submit" class="btn btn-outline-dark btn-lg" value="Create" disabled>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    {{!
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery%=min=%.js"></script>
    }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery%=min=%.js"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>
