<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> head/head head.defaults}}
</head>

<body class="overlay-block-active">
    <div class="page__wrapper">
        %=symbols=%
        {{> header/header}}

        <main class="main">
            <div class="alert alert-primary alert-top" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="static/images/content/error.svg" alt="image description">
                            You are currently in the Your Bourse Demo.
                            <div class="btn-box"><a href="#" class="btn btn-primary">SET UP ON THE FREE PLAN</a> or <a
                                href="#" class="btn btn-primary">contact us</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay-section">
                <div class="intro-holder-block">
                    <div class="intro-block">
                        <div class="center-box">
                            <h4>What's your company’s main business?</h4>
                            <p>Our demo has several datasets, this info helps us pick relevant content for your demo.</p>
                            <form action="#" class="name-organisation-form">
                                <ul class="custom-radios">
                                    <li>
                                        <input class="form-check-input" type="radio" name="RadioOptions" id="radio-01" value="option1">
                                        <label class="form-check-label" for="radio-01">
                                            <img src="static/images/content/analytics.svg" alt="image description">
                                            Retail broker
                                        </label>
                                    </li>
                                    <li>
                                        <input class="form-check-input" type="radio" name="RadioOptions" id="radio-02" value="option2">
                                        <label class="form-check-label" for="radio-02">
                                            <img src="static/images/content/bank.svg" alt="image description">
                                            <span class="text">Institutional broker</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input class="form-check-input" type="radio" name="RadioOptions" id="radio-03" value="option3">
                                        <label class="form-check-label" for="radio-03">
                                            <img src="static/images/content/support.svg" alt="image description">
                                            <span class="text">Service provider</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input class="form-check-input" type="radio" name="RadioOptions" id="radio-04" value="option4">
                                        <label class="form-check-label" for="radio-04">
                                            <img src="static/images/content/currency.svg" alt="image description">
                                            <span class="text">Liquidity provider</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input class="form-check-input" type="radio" name="RadioOptions" id="radio-05" value="option5">
                                        <label class="form-check-label" for="radio-05">
                                            <img src="static/images/content/server.svg" alt="image description">
                                            <span class="text">Technology provider</span>
                                        </label>
                                    </li>
                                    <li>
                                        <input class="form-check-input" type="radio" name="RadioOptions" id="radio-other" value="option6">
                                        <label class="form-check-label" for="radio-other">
                                            <img src="static/images/content/group.svg" alt="image description">
                                            <span class="text">Other</span>
                                        </label>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label for="input-03">Your main business</label>
                                    <input class="form-control form-control-lg" type="text" placeholder="Main business" id="input-03">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" aria-label="Close" disabled>Next</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#emailModal">
                            Verify your email address
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="emailModalLabel">Verify your email address</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Welcome! We just sent a verification link to <a href="mailto:sdfkjlg@kejfg.bf">sdfkjlg@kejfg.bf</a>. Please check your inbox and click on the link to get started. If you can't find this email (which could be due to spam filters), just request a new one here.</p>
                                        <p class="text-center">
                                            <a href="#" class="btn btn-outline-primary btn-lg">Resend email</a>
                                        </p>
                                    </div>
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>


                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#organisationModal">
                            Create new organisation
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="organisationModal" tabindex="-1" role="dialog" aria-labelledby="organisationModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="organisationModalLabel">Create new organisation</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Your organisation is your company account. You'll be able to invite team members to join.</p>
                                        <form action="#" class="name-organisation-form">
                                            <div class="form-group">
                                                <label for="input-01">Name of your organisation</label>
                                                <input class="form-control form-control-lg" type="text" placeholder="Name of your organisation" id="input-01">
                                            </div>
                                            <div class="text-right">
                                                <button class="btn btn-outline-dark btn-lg" data-dismiss="modal" aria-label="Close">CANCEL</button>
                                                <input type="submit" class="btn btn-outline-dark btn-lg" value="Create" disabled>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    {{!
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery%=min=%.js"></script>
    }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery%=min=%.js"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>
