<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> head/head head.defaults}}
</head>

<body>
    <div class="page__wrapper">
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="login-section">
                            <strong class="sup-logo">
                                <a href="#">
                                    <img src="static/images/general/big-logo.svg" alt="Your Bourse">
                                </a>
                            </strong>
                            <div class="intro-block">
                                <h4>Log in to Your Bourse</h4>
                                <div class="center-box">
                                    <a href="#" class="btn btn-primary btn-lg btn-block btn-linkedin"><img src="static/images/content/linkedin.svg" alt="Linkedin"> LOG IN WITH LINKEDIN</a>
                                    <a href="#" class="btn btn-outline-dark btn-lg btn-block btn-google"><img src="static/images/content/google.svg" alt="Google">  LOG IN WITH GOOGLE</a>
                                    <p class="divider"><span>or</span></p>
                                    <form action="#" class="name-organisation-form" data-toggle="validator" role="form" novalidate="false">
                                        <div class="form-group">
                                            <label for="input-email">Email *</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="pedersen.fred@gmail.com" id="input-email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-password">Password</label>
                                            <input class="form-control form-control-lg is-invalid" type="password" placeholder="Password" id="input-password">
                                            <div class="invalid-feedback">
                                                This field cannot be blank
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck">
                                                    Remember me
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">LOG IN</button>
                                        <div class="sub-links">
                                            <a href="#">Forgot your password?</a>
                                            <hr>
                                            <p>No access?  <br> <a href="#">Try demo</a> or <a href="#">create a free account</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    {{!
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery%=min=%.js"></script>
    }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery%=min=%.js"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>
