<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> head/head head.defaults}}
</head>

<body class="overlay-block-active">
    <div class="page__wrapper">
        %=symbols=%
        {{> header/header}}

        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="popup-block">
                            <h4>Invite Users</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <form action="#" class="name-organisation-form">
                                <div class="form-group">
                                    <label for="input-email-01">Work email</label>
                                    <input class="form-control" type="email" placeholder="fred@yourbourse.com" id="input-email-01">
                                </div>
                                <div class="form-group">
                                    <label for="input-role-01">Role</label>
                                    <div class="select">
                                        <select class="form-control" id="input-role-01">
                                            <option>Viewer</option>
                                            <option>Viewer-2</option>
                                            <option>Viewer-3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-outline-dark btn-lg" data-dismiss="modal" aria-label="Close">CANCEL</button>
                                    <input type="submit" class="btn btn-primary btn-lg" value="INVITE">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    {{!
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery%=min=%.js"></script>
    }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery%=min=%.js"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
</body>

</html>
