<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> head/head head.defaults}}
</head>

<body class="overlay-block-active">
    <div class="page__wrapper">
        %=symbols=%
        {{> header/header}}

        <main class="main">
            <div class="inside-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col sidebar-col">
                            <aside class="sidebar">
                                <h1>Settings</h1>
                                <ul class="settings-item-menu">
                                    <li class="active"><a href="#">Profile</a></li>
                                    <li><a href="#">Change password</a></li>
                                    <li><a href="#">Manage users</a></li>
                                    <li><a href="#">Billing and  payments</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col">
                            <div class="content">
                                <div class="heading">
                                    <h2>Metatrader 4 Settings</h2>
                                </div>

                                <div class="general-block">
                                    <div class="row">
                                        <div class="col menu-settings">
                                            <h4>General Settings</h4>
                                            <ul class="settings-item-menu">
                                                <li class="active"><a href="#">Links</a></li>
                                                <li><a href="#">A/B Book</a></li>
                                                <li><a href="#">Trading parameters</a></li>
                                            </ul>
                                        </div>
                                        <div class="col general-form-section">
                                            <form action="#" class="name-organisation-form">
                                                <div class="holder-form">
                                                    <div class="form-group">
                                                        <label for="input-name">Name</label>
                                                        <input class="form-control" type="text" placeholder="Metatrader4" id="input-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input-status">Status</label>
                                                        <div class="select">
                                                            <select class="form-control" id="input-status">
                                                                <option>Running</option>
                                                                <option>Running-2</option>
                                                                <option>Running-3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <button class="btn btn-outline-dark btn-lg" data-dismiss="modal" aria-label="Close">CANCEL</button>
                                                        <input type="submit" class="btn btn-primary btn-lg" value="Save">
                                                    </div>
                                                </div>
                                                <button class="btn btn-danger">DELETE</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    {{!
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery%=min=%.js"></script>
    }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery%=min=%.js"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
</body>

</html>
