<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> head/head head.defaults}}
</head>

<body class="overlay-block-active">
    <div class="page__wrapper">
        %=symbols=%
        {{> header/header}}

        <main class="main">
            <div class="inside-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col sidebar-col">
                            <aside class="sidebar">
                                <h1>Settings</h1>
                                <ul class="settings-item-menu">
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Change password</a></li>
                                    <li><a href="#">Manage users</a></li>
                                    <li><a href="#">Billing and  payments</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col">
                            <div class="content">
                                <div class="heading">
                                    <h2>Manage users</h2>
                                    <a href="#" class="btn btn-outline-primary">invite new users</a>
                                </div>

                                <table id="table" class="table table-striped table-bordered dt-responsive nowrap user-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="details-control all" scope="col">User</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Last login</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <div class="user-box">
                                                    <div class="img-box">
                                                        <img src="static/images/content/table-user.svg" alt="user image">
                                                    </div>
                                                    <div class="user-info">
                                                        <strong class="name">
                                                            <a href="#">Papodopulos Papadopulo</a>
                                                        </strong>
                                                        <a href="mailto:Papadopulos@dynamicsmartfx.com" class="mail">Papadopulos@dynamicsmartfx.com</a>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>Reporting</td>
                                            <td>Invite sent</td>
                                            <td>
                                                <a href="#" class="edit">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="user-box">
                                                    <div class="img-box">
                                                        <img src="static/images/content/table-user.svg" alt="user image">
                                                    </div>
                                                    <div class="user-info">
                                                        <strong class="name">
                                                            <a href="#">Papodopulos Papadopulo</a> <span>(you)</span>
                                                        </strong>
                                                        <a href="mailto:Papadopulos@dynamicsmartfx.com" class="mail">Papadopulos@dynamicsmartfx.com</a>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>Admin</td>
                                            <td>
                                                <time>28 August 2019 at 18:17</time>
                                            </td>
                                            <td>
                                                <a href="#" class="edit">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="user-box">
                                                    <div class="img-box">
                                                        <img src="static/images/content/table-user.svg" alt="user image">
                                                    </div>
                                                    <div class="user-info">
                                                        <strong class="name">
                                                            <a href="#">Papodopulos Papadopulo</a>
                                                        </strong>
                                                        <a href="mailto:Papadopulos@dynamicsmartfx.com" class="mail">Papadopulos@dynamicsmartfx.com</a>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>Risk manager</td>
                                            <td>
                                                <time>28 August 2019 at 18:17</time>
                                            </td>
                                            <td>
                                                <a href="#" class="edit">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    {{!
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery%=min=%.js"></script>
    }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery%=min=%.js"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
</body>

</html>
