// Common styles of the project
@import "bootstrap/scss/bootstrap.scss";
@import "base/modal";
@import "base/overlay-block";
@import "base/forms";
@import "base/table-layout";
@import "base/typography";
@import "base/buttons";

.page__wrapper {
    min-height: 100%;
    overflow: hidden;
}


.alert {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem 1.25rem;

    @include media-breakpoint-down(md) {
        padding: 0.5rem 0;
    }

    @include media-breakpoint-down(sm) {
        font-size: 12px;
    }

    &.alert-primary {
        background: #3C85C9;
        color: $white;
        text-align: center;
    }

    &.alert-top {
        .modal-open &,
        .overlay-block-active & {
            z-index: 1041;
        }
    }

    .btn-box {
        display: flex;
        align-items: center;
    }

    .btn {
        font-size: 13px;
        margin: 0 8px;
        padding: 0.35rem 0.48rem 0.31rem;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
            margin: 0 4px 0 0;
            padding: 0.33rem 0.48rem 0.31rem;
        }

        + span + .btn {
            @include media-breakpoint-down(sm) {
                margin: 0 4px;
            }
        }
    }

    img {
        margin: 0 7px 0 0;

        @include media-breakpoint-down(md) {
            margin: -4px 7px 0 0;
        }
    }

    .col-lg-12 {
        text-align: left;

        @include media-breakpoint-up(md) {
            align-items: center;
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }

    .btn-box {
        @include media-breakpoint-down(sm) {
            padding: 10px 0 0;
            text-align: left;
        }
    }
}

.login-section {
    padding: 121px 0 91px;

    @include media-breakpoint-down(sm) {
        padding: 40px 0;
    }

    .intro-block {
        margin: 0 auto;
        max-width: 640px;
    }

    h4 {
        text-align: center;
    }
}

.sup-logo {
    display: table;
    margin: 0 auto 32px;
}

.divider {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    z-index: 1;
    padding: 24px 0;
    margin: 3px 0 0;

    @include media-breakpoint-down(sm) {
        padding: 14px 0;
    }

    &:before {
        content: '';
        height: 0.5px;
        background: $btn-link-disabled-color;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        margin: 2px 0 0;
    }

    span {
        display: inline-block;
        vertical-align: top;
        background: $white;
        padding: 0 8px;
        z-index: 1;
    }
}

.sub-links {
    text-align: center;
    padding-top: 1.5rem;
    line-height: 27px;
}

.heading {
    display: flex;
    align-items: center;
    padding: 13px 0 12px;
    min-height: 58px;
    border-bottom: 0.5px solid $gray-700;

    .btn {
        margin: 0 0 0 auto;
        padding: 4px 14px 5px;
        border-width: 2px;
        font-size: 14px;
    }
     h2 {
         margin: 0;
     }
}

.main {
    padding: 0 0 40px;

    .alert {
        &:first-child {
            margin-top: -30px;
        }
    }
}

body {
    display: flex;

    &.modal-open {
        .header,
        .alert {
            z-index: 1400;
        }
    }

    .page__wrapper {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        min-height: 100vh;
        overflow: auto;

        .main {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            position: relative;

            .inside-block {
                position: relative;
                flex: 1 1 auto;
                z-index: 1;
                margin-bottom: -40px;

                @include media-breakpoint-down(md) {
                    background: $white;
                }

                &:first-child {
                    margin-top: -30px;
                }

                &:after {
                    @include media-breakpoint-up(lg) {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: calc(100% - 193px);
                        background: $white;
                        z-index: -1;
                    }
                }
            }
        }
    }
}

.settings-item-menu {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 -8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    @include media-breakpoint-down(md) {
        margin: 0 -12px;
    }

    li {

        &.active {
            a {
                @include media-breakpoint-down(md) {
                    color: $body-color;
                }

                @include media-breakpoint-up(md) {
                    background: rgba(65, 178, 229, 0.1);
                }
            }
        }
    }

    a {
        color: $input-border-color;
        display: block;
        padding: 4px 8px 5px;
        border-radius: 4px;

        @include media-breakpoint-down(md) {
            padding: 8px 12px;
            margin: 0 0 5px;
        }

        &:hover {
            @include media-breakpoint-up(md) {
                background: rgba(65, 178, 229, 0.1);
            }
        }
    }
}

.general-block {
    padding: 24px 0 0;

    .col {
        @include media-breakpoint-down(md) {
            flex-basis: auto;
        }
    }

    h4 {
        @include media-breakpoint-down(md) {
            color: $input-border-color;
            margin: 0 0 8px;
        }
    }
}

.sidebar-col {
    @include media-breakpoint-down(md) {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        max-width: 205px;
    }
}

.sidebar {
    padding: 28px 12px;

    h1 {
        margin: 0 0 15px;
    }
}

.content {
    padding: 17px 12px 33px 13px;

    @include media-breakpoint-down(md) {
        padding: 0;
    }
}

.menu-settings {

    @include media-breakpoint-up(md) {
        flex: 0 0 161px;
    }

    h4 {
        margin: 0 0 8px;
    }
}

.popup-block {
    position: relative;
    max-width: 358px;
    background: $white;
    padding: 16px;
    border-radius: 4px;

    @include media-breakpoint-down(sm) {
        max-width: none;
    }

    &.remove {
        display: none;
    }

    .close {
        position: absolute;
        right: 16px;
        top: 16px;
        opacity: 1;
        margin: 0;
        width: 33px;
        height: 33px;
        font-size: 0;
        line-height: 0;

        &:before,
        &:after {
            position: absolute;
            content: '';
            background: $body-color;
            width: 33px;
            height: 3px;
            border-radius: 2px;
            left: 0;
        }

        &:after {
            bottom: 0;
            transform: rotate(-45deg);
            top: 15px;
        }

        &:before {
            transform: rotate(45deg);
            top: 15px;
        }
    }

    .form-control {
        &::-webkit-input-placeholder {
            color: #bbb;
        }
        &::-moz-placeholder {
            color: #bbb-800;
        }
        &:-ms-input-placeholder {
            color: #bbb;
        }
        &:-moz-placeholder {
            color: #bbb;
        }
    }

    .text-right {
        .btn-primary {
            margin-left: 16px;
        }
    }

    h4 {
        font-size: 24px;
        font-weight: 700;
    }
}

.container {
    @include media-breakpoint-down(sm) {
        max-width: none;
    }
}
