@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap');
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
);

$white:                       #fff;
$spacer:                      3.6rem;
$headings-margin-bottom:      $spacer / 2;
$body-bg:                     #F7F7FB;
$grid-gutter-width:           24px;
$gray-600:                    #bbb;
$gray-700:                    #D6D9DE;
$gray-800:                    #363E4E;
$gray-900:                    #262C37;
$dark:                        $gray-800;

$nav-link-padding-y:          1.157rem;
$link-color:                  #41B2E5;
$link-hover-decoration:       none;

$navbar-dark-color:           $white;
$navbar-dark-hover-color:     $white;


// Color system

$blue:    #41b2E5;
$red:     #f25858;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
        "blue":       $blue,
    ),
    $colors
);

$primary:       $blue;


$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
    ),
    $theme-colors
);

$red:     #f25858;
$danger:  $red;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-margin-bottom:         1.75rem;
$alert-border-radius:               0;
$alert-link-font-weight:            600;
$alert-border-width:                0;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-font-size:               17px;
$btn-line-height:             19px;
$btn-font-weight:             400;
$btn-border-width:            1px;

$btn-disabled-opacity:        1;


$btn-link-disabled-color:     #aeb3be;

$btn-block-spacing-y:         1.5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           4px;


// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:      'Titillium Web', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif;
$body-color:                  #363E4E;
$font-size-base:              1.125rem;
$line-height-base:            1.5;


$h1-font-size:                24px;
$h2-font-size:                18px;
$h3-font-size:                16px;
$h4-font-size:                14px;
$h5-font-size:                13px;
$h6-font-size:                11px;

$headings-font-weight:        600;

$btn-padding-y:               0.33rem;
$btn-padding-x:               0.48rem;

$border-radius-lg:            4px;

// Modals

// Padding applied to the modal body
$modal-dialog-margin-y-sm-up:       10.2rem;
$modal-backdrop-opacity:            .6;
$modal-md:                          640px;
$modal-content-border-width:        0;

$modal-header-border-width:         0;
$modal-footer-border-width:         0;

// Close

$close-font-size:                   3.5rem;
$close-font-weight:                 normal;
$close-color:                       $gray-800;


// Forms
$input-placeholder-color:               $gray-600;
$input-font-size:                       24px;
$input-font-weight:                     300;

$input-border-color:                    #7A8599;


// Hr

$hr-margin-y:                 1.5rem;
