.btn {
    text-transform: uppercase;

    &:disabled {
        border-color: $btn-link-disabled-color !important;
        background: #eaebee !important;
        color: $btn-link-disabled-color !important;

        &:after {
            border-color: $btn-link-disabled-color !important;
        }
    }

    &.btn-primary {
        color: $white;
    }

    .btn-outline-primary:not(:disabled):not(.disabled):active {
        color: $white;
    }

    &.btn-outline-primary {
        font-weight: 600;

        &:hover,
        &:active {
            color: $white !important;
        }

    }

    &.btn-outline-dark {
        border-color: #aeb3be;

        &:disabled {
            border-color: #aeb3be;
        }
    }

    &.btn-block {
        height: 64px;
        font-size: 24px;
        line-height: 46px;

        @include media-breakpoint-down(md) {
            height: 48px;
            font-size: 17px;
            line-height: 22px;
        }
    }

    &.btn-lg {
        @include media-breakpoint-down(md) {
            height: 48px;
            font-size: 17px;
            line-height: 22px;
        }
    }

    &.caret-btn {

        &:after {
            content: '';
            border: solid $white;
            border-width: 0 2px 2px 0;
            padding: 3px;
            display: inline-block;
            vertical-align: middle;
            transform: rotate(-45deg);
            margin-left: 20px;
            margin-top: -5px;
        }
    }

    &.btn-linkedin {
        background: #0077B7;

        img {
            margin-top: -5px;
            width: 25px;
        }
    }

    &.btn-linkedin,
    &.btn-google {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;

        @include media-breakpoint-down(md) {
            font-size: 17px;
        }

        img {
            margin-right: 16px;

            @include media-breakpoint-down(md) {
                width: 20px;
                margin-right: 11px;
            }
        }
    }

    &.btn-danger {
        background: $red;
        border-color: $red;
        font-size: 14px;
        font-weight: 600;
    }
}
