.name-organisation-form {
    padding: 0 0 29px;
    text-align: left;

    label {
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
        margin: 0 0 4px;
    }

    .text-right {
        .btn {
            margin: 0 0 0 21px;
        }
    }

    .form-group {
        margin: 0 0 18px;

        @include media-breakpoint-down(md) {
            margin: 0 0 1rem;
        }
    }

    .form-control {
        height: 48px;
        font-size: 17px;
    }

    .form-control-lg {
        font-size: 24px;
        line-height: 37px;
        height: 64px;

        @include media-breakpoint-down(md) {
            height: 48px;
            font-size: 17px;
            line-height: 22px;
            font-weight: 300;
        }
    }

    .form-check label {
        font-size: 18px;
        line-height: 27px;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }

    .btn {
        font-size: 17px;
    }
}

.form-check {
    padding: 0;
}

.form-check input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-check label {
    position: relative;
    font-size: 18px;
    line-height: 27px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;

    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }
}

.form-check label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid $input-border-color;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    margin-right: 16px;

    @include media-breakpoint-down(md) {
        padding: 10px;
        margin-right: 10px;
    }
}

.form-check input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 14px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

    @include media-breakpoint-down(md) {
        top: 6px;
        left: 9px;
        height: 12px;
    }
}

.form-control::-webkit-input-placeholder {
    font-weight: 300;
}

.form-control.is-invalid {
    background-image: none;
    background: rgba(242, 88, 88, 0.05);
}

.form-control.is-invalid::-webkit-input-placeholder {
    color: $red;
}

.custom-radios {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 -16px -16px;
    padding: 32px 0 0;

    @include media-breakpoint-down(xs) {
        padding: 0;
        margin: 0 -8px -8px;
    }

    li {
        width: 33.333%;
        padding: 0 16px 32px;

        @include media-breakpoint-down(xs) {
            width: 50%;
            padding: 0 8px 16px;
        }
    }

    .form-check {
        padding: 0;
    }

    [type='radio'] {
        position: absolute;
        right: 100vw;

        + label {
            font-size: 14px;
            line-height: 21px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            position: relative;
            border: 1px solid $input-border-color;
            width: 112px;
            height: 112px;
            padding: 16px;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            margin: 0;

            @include media-breakpoint-down(xs) {
                width: 100%;
            }


            &:before {
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                opacity: 0;
                background: rgba(65, 178, 229, 0.1);
                transition: opacity .3s ease;
                content: '';
            }

            img {
                display: block;
                margin: 0 auto 9px;
            }

            .text {
                min-height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }

        &:checked + label {
            border-color: $blue;
        }

        &:checked + label:before { opacity: 1; }

        &#radio-other {
            + label {
                img {
                    margin-top: 17px;
                }
            }
        }
    }
}

.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: $white;
    color: $gray-800;
    background-image: none;
}

.select .form-control:focus {
    background: $white;
}

.select select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    background: $white;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid $input-border-color;
}

.select select {
    flex: 1;
    padding: 0 .5em;
    color: $gray-800;
    font-weight: 300;
    cursor: pointer;
}

.select::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 16px;
    cursor: pointer;
    pointer-events: none;
    width: 10px;
    height: 10px;
    background: url("../images/content/sort-arrows.svg");
    background-size: 100% 100%;
}

.select:hover::after {
    color: #f39c12;
}

.inside-block {
    .form-control {
        &::-webkit-input-placeholder {
            color: $gray-800;
        }
        &::-moz-placeholder {
            color: $gray-800;
        }
        &:-ms-input-placeholder {
            color: $gray-800;
        }
        &:-moz-placeholder {
            color: $gray-800;
        }
    }
}

.holder-form {
    max-width: 326px;
    width: 100%;

    @include media-breakpoint-down(sm) {
        order: 2;
        padding-top: 10px;
        max-width: none;
    }

    .text-right {
        .btn-primary {
            margin-left: 16px;
        }
    }
}

.general-form-section {

    .name-organisation-form {
        @include media-breakpoint-down(md) {
            background: $white;
            margin: 0 -12px;
            padding: 12px;
        }
    }

    .name-organisation-form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        .btn-danger {
            @include media-breakpoint-down(sm) {
                order: 1;
            }
        }
    }

    .form-control-lg {
        @include media-breakpoint-down(md) {
            height: 48px;
            font-size: 17px;
            line-height: 22px;
            font-weight: 300;
        }
    }
}

label {
    @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 21px;
    }
}

.form-group input[type="password" i] {
    text-security: disc !important;
    -webkit-text-security: disc !important;
}
