.modal {
    @include media-breakpoint-down(md) {
        z-index: 1400;
    }

    .modal-title {
        font-size: 24px;
        font-weight: 700;
    }

    .modal-dialog-centered {
        width: auto;
        margin: 0.5rem;
        max-width: 100%;
        min-height: calc(100% - 1rem);

        @media (min-width: 656px) {
            width: 640px;
            margin: 1.75rem auto;
            min-height: calc(100% - (1.75rem * 2));
        }
    }

    .name-organisation-form {
        .btn {
            font-size: 20px;
        }
    }
}

.modal-body {
    padding: 0.5rem 3rem 0.05rem;

    @include media-breakpoint-down(md) {
        padding: 0 20px 20px;
    }

    p {
        margin: 0 0 2.05rem;

        @include media-breakpoint-down(md) {
            margin: 0 0 1rem;
        }

        a:not(.btn) {
            color: $body-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .btn {
        padding: 0.8rem 0.9rem;
        font-size: 24px;

        @include media-breakpoint-down(md) {
            height: 48px;
            font-size: 17px;
            line-height: 22px;
        }
    }
}

.modal-header {
    padding: 3rem 5rem 0.55rem 3rem;
    position: relative;

    @include media-breakpoint-down(md) {
        padding: 30px 60px 20px 20px;
    }

    @include media-breakpoint-down(sm) {
        padding: 20px 60px 20px 20px;
    }

    .close {
        position: absolute;
        right: 44px;
        top: 44px;
        opacity: 1;
        margin: 0;
        width: 33px;
        height: 33px;
        font-size: 0;
        line-height: 0;

        @include media-breakpoint-down(md) {
            width: 24px;
            height: 24px;
            right: 20px;
            top: 20px;
        }

        &:before,
        &:after {
            position: absolute;
            content: '';
            background: $body-color;
            width: 33px;
            height: 3px;
            border-radius: 2px;
            left: 0;
        }

        &:after {
            bottom: 0;
            transform: rotate(-45deg);
            top: 15px;
        }

        &:before {
            transform: rotate(45deg);
            top: 15px;
        }
    }
}

.modal-footer {
    padding: 0.6rem;

    @include media-breakpoint-down(md) {
        padding: 0 20px;
    }
}

.modal-title {
    @include media-breakpoint-down(md) {
        line-height: 1.1;
    }
}
