.overlay-section {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba($black, 0.6);
    display: none;

    .overlay-block-active & {
        display: block;
        z-index: 1042;
    }

    .center-box {
        max-width: 400px;
        margin: 0 auto;
    }

    .intro-holder-block {
        margin: 0.5rem;
        min-height: calc(100% - 1rem);
        width: auto;
        max-width: 100%;
        display: flex;
        align-items: center;

        @media (min-width: 656px) {
            width: 640px;
            margin: 1.75rem auto;
            min-height: calc(100% - (1.75rem * 2));
        }
    }
}

.intro-block {
    background: $white;
    border-radius: 4px;
    padding: 48px;
    width: 100%;

    @include media-breakpoint-down(sm) {
        padding: 48px 20px;
    }

    .name-organisation-form {
        padding: 0;
    }

    h4 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }
}
