.table {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;

    &.table-bordered th,
    &.table-bordered td {
        border: none;
    }

    &.table-bordered {
        thead {
            th {
                border-bottom: 0.5px solid $gray-700;
                padding: 0.5rem;

                &:first-child {
                    width: 185px;

                    + th {
                        width: 80px;
                    }
                }
            }
        }
    }

    thead {
        th {
            border-bottom: 0.5px solid $gray-700;
        }
    }

    th {
        font-weight: 600;
    }

    .edit {
        font-weight: 600;
    }

    &.user-table {

        &.collapsed {
            tbody {
                th {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 17px;
                        background-image: url('../images/content/plus.svg');
                        background-size: 100%;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                    }
                }
            }

            td {
                vertical-align: middle;
            }
        }

        thead {
            th {
                &:first-child {
                    padding-left: 40px;
                }
            }
        }

        tbody {
            th {
                &:first-child {
                    width: 250px;
                    padding-left: 0;

                    + td {
                        width: 130px;
                    }
                }
            }

            td {
                &:last-child {
                    text-align: right;
                    padding-right: 0;
                }
            }
        }
    }

    &.table-striped tbody tr:nth-of-type(odd) {
        background: none;
    }

    &.table-bordered {
        border: none;
    }

    &.dataTable {
        margin: 0 !important;
    }
}

.user-box {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    
    .collapsed &{
        padding-right: 20px;
    }

    .name {
        display: block;
        font-weight: 600;
    }

    .img-box {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;

        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    .mail {
        font-size: 9px;
        line-height: 12px;
        color: $body-color;
        font-weight: normal;
        display: table;
    }
}

.dashboard {
    background: $white;
    box-shadow: 0 1px 3px $gray-700;
    border-radius: 4px;
    padding: 12px 16px 16px;

    @include media-breakpoint-down(xs) {
        border-radius: 0;
        box-shadow: none;
        margin: 0 -12px;
    }

    .report-box {
        text-align: right;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        margin: 0 -16px -8px;
        padding: 8px 20px 0;
        border-top: 0.5px solid $gray-700;

        a {
            position: relative;
            padding-right: 13px;
            text-transform: uppercase;

            &:after {
                content: '';
                border: solid $link-color;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 2px;
                position: absolute;
                right: 0;
                top: 7px;
                transform: rotate(-45deg);
            }
        }
    }

    .table {
        font-size: 12px;
        line-height: 18px;
        border-bottom: 0.5px solid #c6c7c7;
        margin-bottom: 20px;

        &:last-child {
            border: none;
            margin: 0;
        }

        &.main-table {
            font-weight: 600;

            tbody {
                th {
                    font-weight: 600;
                    padding-left: 0;
                }
            }
        }

        th {
            font-size: 14px;
            line-height: 21px;
            font-weight: normal;
            padding: 4px 0;
            width: 25%;
            border: none;
        }

        td {
            padding: 4px 0 4px 4px;
            width: 25%;
        }

        .main-title,
        .title {
            text-transform: uppercase;
            font-size: 18px;
            line-height: 27px;

            th {
                border-bottom: 0.5px solid #c6c7c7;
                font-size: 18px;
                line-height: 27px;
                font-weight: 600;
            }

            + tr {
                border-bottom: 0.5px solid #c6c7c7;
                text-align: right;

                th {
                    padding: 4px 0 3px;
                }
            }
        }

        .title {
            font-size: 14px;
            line-height: 21px;
            text-transform: none;

            th {
                font-size: 14px;
                line-height: 21px;
            }
        }

        tbody {
            text-align: right;

            th,
            td {
                font-size: 12px;
                line-height: 18px;
                padding-top: 0;
                padding-bottom: 0;
            }

            tr {
                &:first-child {
                    th,
                    td {
                        padding-top: 4px;
                    }
                }

                &:last-child {
                    th,
                    td {
                        padding-bottom: 3px;
                    }
                }
            }
        }

        img {
            max-width: 100%;
            vertical-align: top;
        }

        .logo {
            text-align: right;

            img {
                margin-top: 5px;
            }
        }

        .total {
            font-weight: 600;

            th {
                font-weight: 600;
            }
        }
    }
}

#table {
    @include media-breakpoint-down(md)  {
        border-bottom: 0.5px solid $gray-700;
    }
    &.collapsed {
        thead {
            th {
                display: none;
            }
        }
    }
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.55em !important;
}

.dtr-details {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;

    li {
        margin: 0 0 10px;
    }
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    bottom: auto !important;
    top: 0.5em;
}

.link-tabs {
    list-style-type: none;
    margin: 0;
    padding: 1px 0 0;
    text-transform: uppercase;
    display: flex;
    font-size: 10px;
    line-height: 15px;

    li {
        margin: 0 8px 0 0;

        &.active {
            a {
                color: $input-border-color;
            }
        }
    }
}
