<header class="header navbar-custom">
    <nav class="navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#">
                        <img src="static/images/general/logo.svg" alt="Bourse">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Reports
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">PnL</a>
                                    <a class="dropdown-item" href="#">Exposure</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Liquidity providers</a>
                                    <a class="dropdown-item" href="#">Latency</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Log</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Components</a>
                            </li>
                        </ul>
                        <div class="user-box-header my-2 my-lg-0">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="img">
                                    <img src="static/images/general/user.svg" alt="user">
                                </span>
                                <span class="text">
                                    <strong class="name">Papodopulos Papadopulo</strong>
                                    Dynamic Smart FX
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Change password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Manage users</a>
                                <a class="dropdown-item" href="#">Billing and  payments</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</header>
