.header {
    position: relative;
    height: 64px;
    margin: 0 0 30px;

    @include media-breakpoint-down(md) {
        height: auto;
    }

    .modal-open & {
        z-index: 1043;
    }

    .navbar-toggler {
        padding: 0;
        border: none;
        border-radius: 0;

        @include media-breakpoint-down(md) {
            margin: 0;
        }

        .navbar-toggler-icon {
            width: 24px;
            height: 24px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><line x1="1.5" y1="22.5" x2="22.5" y2="22.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/><line x1="1.5" y1="11.5" x2="22.5" y2="11.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/><line x1="1.5" y1="1.5" x2="22.5" y2="1.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"/></svg>');
        }


        &[aria-expanded="true"] {
            .navbar-toggler-icon {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M14.1225 12.0007L23.5602 2.56302C24.1466 1.97717 24.1466 1.0266 23.5602 0.440742C22.9739 -0.145612 22.0243 -0.145612 21.438 0.440742L12.0002 9.87844L2.56205 0.440742C1.97569 -0.145612 1.02612 -0.145612 0.439766 0.440742C-0.146589 1.0266 -0.146589 1.97717 0.439766 2.56302L9.87797 12.0007L0.439766 21.4384C-0.146589 22.0243 -0.146589 22.9749 0.439766 23.5607C0.732943 23.8534 1.11717 24 1.50091 24C1.88464 24 2.26887 23.8534 2.56205 23.5602L12.0002 14.1225L21.438 23.5602C21.7311 23.8534 22.1154 24 22.4991 24C22.8828 24 23.2671 23.8534 23.5602 23.5602C24.1466 22.9744 24.1466 22.0238 23.5602 21.4379L14.1225 12.0007Z" fill="white"/></svg>');
            }
        }
    }
}

.navbar-custom {
    background: $dark !important;
}

.col-lg-12.navbar {
    @include media-breakpoint-up(lg) {
        padding: 0 24px;
    }
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    background: $gray-900;
}

.mobile-hide {
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

.navbar-collapse {
    @include media-breakpoint-down(md) {
        background: $white;
        margin: 8px -16px -8px;
    }
}

.navbar-brand {
    margin: 0;
    padding: 8px;
    width: 80px;
    height: 64px;
    text-align: center;
    background: $gray-900;

    @include media-breakpoint-down(md) {
        background: none;
        width: 33px;
        height: auto;
        padding: 0;
        margin: 0 0 0 -5px;
    }

    img {
        max-width: 100%;
        vertical-align: top;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 16px;
    padding-right: 16px;
}

.dropdown-item.active,
.dropdown-item:active {
    background: $body-color;
}

.navbar-dark .navbar-nav .nav-link {
    @include media-breakpoint-down(md) {
        color: $input-border-color;
        font-weight: 600;
    }

    &:active,
    &:hover,
    &:focus {
        @include media-breakpoint-down(md) {
            color: $input-border-color;
            background: none;
        }
    }
}

.navbar-nav {
    font-size: 14px;
    line-height: 21px;

    @include media-breakpoint-down(md) {
        padding: 22px 0 9px;
        border-bottom: 1px solid #e9ecef;
        margin: 0 0 12px;
    }

    .dropdown-toggle {
        &:after {
            display: none;
        }
    }

    .nav-link {
        padding: 10px 1rem;
        margin: 0 0 5px;

        @include media-breakpoint-up(lg) {
            height: 64px;
            padding: 21px 1rem;
            margin: 0;
        }
    }

    .nav-item {

        &.active {
            .nav-link {
                @include media-breakpoint-down(md) {
                    color: $gray-800;
                    background: none;
                }
            }
        }
    }

    .dropdown-menu {
        @include media-breakpoint-down(md) {
            margin: 0;
            padding: 0;
            border: none;
            border-radius: 0;
        }

        .dropdown-item {
            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
        }
    }
}

.user-box-header {
    @include media-breakpoint-up(md) {
        position: relative;
        min-width: 240px;
    }

    @include media-breakpoint-down(md) {
        margin: 0 !important;
    }

    .dropdown-menu {
        width: 100%;

        @include media-breakpoint-down(md) {
            display: block !important;
            position: static !important;
            border-radius: 0;
            border: none;
            padding: 0 0 9px;
        }

        .dropdown-item {
            @include media-breakpoint-down(md) {
                color: $input-border-color;
                background: none;
                font-weight: 600;
                font-size: 14px;
                padding: 10px 1rem;
                margin: 0 0 5px;
            }
        }

        .dropdown-divider {
            @include media-breakpoint-down(md) {
                margin: 0.9rem 0;
            }
        }
    }

    &.show {
        .nav-link {
            background: $gray-900;
        }
    }

    .dropdown-toggle {
        display: inline-flex;
        align-items: center;
        color: $white;
        padding: 5px 17px;
        height: 64px;
        background: $gray-900;

        @include media-breakpoint-down(md) {
            display: none;
        }

        &:hover {
            background: $gray-900;
        }

        &:after {
            border: solid $white;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 2px;
            margin-left: 9px;
            transform: rotate(45deg);
        }
    }

    .img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;

        img {
            border-radius: 50%;
        }
    }

    .text {
        flex-grow: 1;
        color: #AEB3BE;
        font-size: 8px;
    }

    .name {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: $white;
    }
}
